// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//variaveis personalizadas
:root {
    --ws-bg-color: #abcdef;
    --ws-fg-color: #fafafa;
    --ws-border-color: #f21;
    --ws-body-color:#fdeaec;
    --ws-btn-aviso-hover-color: #000000;
    


}
